<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="#" class="logo"><img src="/css/2.png" >&nbsp;N JOY THE TOY</a>
        <nav>
            <ul>
                <li><a th:href="@{/home}">Home</a></li>
         
                </ul>
            </ul>
        </nav>
    </header>
   

    <div class="aboutus">
        <h1>
            Register
        </h1>
    </div>

   
     <form class="myform"  id="add" >
     <h2>Something Went Wrong...</h2>
     
     <a th:href="@{/home}">Go Back</a>
	</form>
	

    <footer>
       <div class="name">Developed By : Ganesh Shinde</div> 
    </footer>
</body>
</html>